body {
  margin: 0;
  padding: 0;
  height: 100%;
  background-color: #FFFFFF;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

html, .layout, #root {
  height: 100%;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
  monospace;
}

:where(.css-dev-only-do-not-override-k7429z).ant-layout .ant-layout-sider {
  background: none;
}

.heightMax {
  height: 100vh
}

.widthMax {
  width: 100%
}

:where(.css-dev-only-do-not-override-k7429z).ant-menu-light.ant-menu-root.ant-menu-vertical {
  border-right: 0
}

.center {
  text-align: center;
  line-height: 100%;
  padding: 10px 0 10px 0;
}


.rightLayout {
  display: flex;
  flex-direction: column;
  height: 100vh;
}

.content {
  flex: 1;
}

.footer {
  flex-shrink: 0
}

.p0 {
  padding: 0
}

.border0 {
  border: 0
}

:where(.css-dev-only-do-not-override-12jzuas).ant-layout .ant-layout-sider {
  background-color: #FFFFFF;
  border-right: 1px solid rgb(222, 222, 222);
  height: 100vh;
}

main.ant-layout-content.css-dev-only-do-not-override-12jzuas {
  background-color: #FFFFFF;

}


/* 隐藏滚动条 */
.scrollable-container::-webkit-scrollbar {
  width: 0;
  background-color: transparent;
}

.auto {
  overflow: auto
}
