body {
  font-family: system-ui;
  margin: 0;
  padding: 0;
  height: 100%;
  background-color: #ffffff;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

*{
  font-family: system-ui; 
}

html,
.layout,
#root {
  height: 100%;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New", monospace;
}

:where(.css-dev-only-do-not-override-k7429z).ant-layout .ant-layout-sider {
  background: none;
}

.heightMax {
  height: 100vh;
}

.widthMax {
  width: 100%;
}

:where(.css-dev-only-do-not-override-k7429z).ant-menu-light.ant-menu-root.ant-menu-vertical {
  border-right: 0;
}

.center {
  text-align: center;
  line-height: 100%;
  padding: 10px 0 10px 0;
}

.rightLayout {
  display: flex;
  flex-direction: column;
  height: 100vh;
}

.content {
  flex: 1;
}

.footer {
  flex-shrink: 0;
}

.p0 {
  padding: 0;
}

.border0 {
  border: 0;
}

:where(.css-dev-only-do-not-override-12jzuas).ant-layout .ant-layout-sider {
  background-color: #ffffff;
  border-right: 1px solid rgb(222, 222, 222);
  height: 100vh;
}

:where(.css-12jzuas).ant-layout .ant-layout-sider {
  background-color: #ffffff;
}

main.ant-layout-content.css-dev-only-do-not-override-12jzuas {
  background-color: #ffffff;
}

/* 隐藏滚动条 */
.scrollable-container::-webkit-scrollbar {
  width: 0;
  background-color: transparent;
}

.ant-table-row:hover .ant-table-cell {
  user-select: none; /* 禁止文本内容选中 */
}

/* 修改表格行属性 */
.color-row {
  background-color: #e6f4ff;
}

.auto {
  overflow: auto;
}

.white-icon {
  color: white;
}

/* 歌词页面动画 */
.lyrics-container {
  position: fixed;
  bottom: -100%; /* 初始位置在底部之外 */
  left: 0;
  z-index: 2;
  width: 100%;
  height: 100%;
  transition: bottom 0.2s linear; /* 添加过渡效果 */
}

.show {
  bottom: 0; /* 出现时移动到底部位置 */
}

.hide {
  bottom: -100%; /* 隐藏时移出底部 */
}

.img {
  border-radius: 5px;
}

.highlight {
  color: #ffc094;
}

//本地设置相关
.ant-modal-body::-webkit-scrollbar {
  width: 0;
  background-color: transparent;
}
.list-item-clear {
  display: none;
}
.list-item {
  user-select: none;
}
.list-item:hover .list-item-clear {
  display: block;
  color: #ff4d4f;
}

//歌词页面：
.lrc-overlay {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  backdrop-filter: blur(10px);
  background-color: rgba(67, 67, 67, 0.6);
  padding: 5% 5% 10% 5%;
}

.lrc-overlay-content {
  display: fixed;
  height: 100%;
}

.lrc-left {
  float: left;
  height: 100%;
  width: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.lrc-left-picture {
  width: 250px;
  border-radius: 5px;
}

.lrc-right {
  float: right;
  height: 100%;
  width: 50%;
}

.lrc-right-lrc {
  height: 100%;
  width: 50%;
  overflow: auto;
  color: #e4e4e4;
}

.lrc-right-lrc::-webkit-scrollbar {
  width: 0;
  background-color: transparent;
}

.lrc-left-info {
  display: flex;
  flex-direction: column;
  color: #e4e4e4;
}

//页脚
.footer {
  width: 100%;
  position: absolute;
  z-index: 3;
  bottom: 0;
  padding: 0;
  margin: 0;
}

.footer-content {
  height: 55px;
  width: 100%;
  display: inline-flex;
}

.footer-left {
  float: left;
  width: 200px;
  display: inline-flex;
  padding: 0 10px 0 10px;
  align-items: center;
  justify-content: space-between;
  border-right: 1px solid rgb(222, 222, 222);
}

.footer-right {
  flex-grow: 1;
  display: inline-flex;
  padding: 5px;
}

.footer-right-picture {
  width: 45px;
  text-align: center;
}
.footer-right-progress {
  flex-grow: 1;
  padding: 0 5px 0 5px;
}
.footer-right-time {
  float: right;
}
